.button {
  background-color: #2563eb;
  color: #fff;
  padding: 0.5em 1.5em;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition:
    background 0.2s,
    box-shadow 0.2s;
  box-shadow: 0 2px 8px rgba(37, 99, 235, 0.08);
  margin: 0.5em 0.5em 0.5em 0; /* Add space around each button */
}

.button:hover,
.button:focus {
  background-color: #1d4ed8;
  box-shadow: 0 4px 16px rgba(37, 99, 235, 0.15);
  outline: none;
}

.button-small {
  font-size: 0.8em;
  padding: 0.2em 0.7em;
  margin-left: 0.5em;
  vertical-align: middle;
}

.delete-button {
  font-size: 0.8em;
  padding: 0.2em 0.7em;
  margin-left: 0.5em;
  vertical-align: middle;
  background-color: #be7474;
}

.button-save {
  background-color: #28a745;
  color: #fff;
}

.button-save:hover {
  background-color: #218838;
}

.button-clear {
  background-color: #ffc107;
  color: #212529;
}

.button-logout:hover,
.button-clear:hover {
  background-color: #e0a800;
}

.button-logout,
.button-cancel {
  background-color: #dc3545;
  color: #fff;
}

.button-cancel:hover {
  background-color: #c82333;
}
